@media (max-width: 1087px) {
    .product-page h1 {
        font-size: 40px;
    }
}
@media (max-width: 991.98px) {
    .hero-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .hero-section-content {
        width: 70%;
    }
    .hero-section-content h1 {
        font-size: 40px;
    }
    .hero-section-content p {
        font-size: 16px;
    }
    .hero-section-content .btn {
        margin-bottom: 20px;
    }
    /* =============================================================================== 991.98px */
    .descr-section-inner {
        flex-direction: column;
    }
    .descr-section-img {
        width: 100%;
    }
    .descr-section-img img {
        border-radius: 10px 10px 0 0;

    }
    .descr-section-content p {
        font-size: 16px;
    }
    .descr-section-content {
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
    /* =============================================================================== 991.98px */
    .product-page h1 {
        margin-bottom: 25px;
        font-size: 30px;
    }
    .product-variations a:not(:last-child) {
        margin: 0;
    }
    .product-section .row .col-lg-4:last-child {
        display: none;
    }

}
@media (min-width: 991.98px) {
    .header .navbar-nav .nav-item:first-child a {
        padding-left: 0;
    }
}
@media (max-width: 767.98px) {
    .h-title {
        margin-bottom: 20px;
        font-size: 32px;
        text-align: center;
    }
    /* =============================================================================== 767.98px */
    .header nav {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    /* =============================================================================== 767.98px */
    .hero-section-content h1 {
        font-size: 30px;
    }
    .hero-section-content p {
        font-size: 14px;
    }
    /* =============================================================================== 767.98px */
    .product-card-content h3 {
        font-size: 22px;
    }
    /* =============================================================================== 767.98px */
    .footer-logo-inner {
        text-align: center;
        margin-bottom: 30px;
    }
    .footer-menu-last {
        text-align: right;
    }
    /* =============================================================================== 767.98px */
    .product-page h1 {
        font-size: 30px;
    }
}
@media (max-width: 479.98px) {
    .header nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-icons li:not(:first-child) {
        margin-left: 10px;
    }
    /* =============================================================================== 479.98px */
    .offcanvas.offcanvas-start {
        width: 100%;
    }
    .offcanvas.offcanvas-end {
        width: 100%;
    }
    /* =============================================================================== 479.98px */
    .hero-section-content {
        width: 100%;
    }
    /* =============================================================================== 479.98px */
    /* .descr-section {
        margin-top: 40px;
        margin-bottom: 40px;
    } */
    /* =============================================================================== 479.98px */
    .footer-menu li:hover {
        font-size: 20px;
        font-weight: 900;
    }
}